body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  h2 {
    text-align: center;
    color: #555;
    margin: 20px 0;
  }
  
  .table-container {
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f8f8f8;
    text-transform: uppercase;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .charts-container {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  #statusPieChart {
    max-width: 500px;
  }
  
  button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  